* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

/*----------------------LOGIN PAGE----------------------*/
#login-container {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background: linear-gradient(90deg, #fffdd0, #FC5D6D);
}

#login-container2 {
    min-width: 1000px;
    width: 70vw;
    height: 70vh;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#login-container2 #login-img {
    width: 50%;
    height: 100%;
}

#forms #login-register h1 {
    display: inline;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 50px;
}

#forms {
    width: 50%;
    height: 100%;
    min-width: 340px;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
}

#login-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#forms #login-register {
    width: 270px;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
    position: absolute;
    top: 20px;
}

#text-login {
    background-color: #FC5D6D;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}

#forms form {
    max-width: 400px;
    width: 90%;
}

.username-password {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: 20px 0 10px 0;
    height: 35px;
    width: 100%;
}

.username-password input {
    background-color: transparent;
    width: 100%;
    border: none;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    outline: none;
    font: 15px;
    height: 50px;
    font-size: 17px;
}

.username-password i {
    margin-right: 5px;
}

#remember-forgot {
    font-size: 14px;
}

#remember-forgot input {
    margin-right: 5px;
}

/* .btn{
    width: 100%;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
    background-color: white;
    border: none;
    color: grey
} */
.btn {
    width: 100%;
    border-radius: 10px;
    height: 35px;
    margin: 10px 0;
    background-color: rgb(0, 0, 0);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn:hover {
    cursor: pointer;
}

#new-register {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-register p {
    margin-right: 5px;
}

#new-register a {
    font-weight: bold;
    color: #FC5D6D;
}

@media (max-width: 1040px) {
    #login-container {
        background: none;
        background-image: url('images/login-img.png');
        background-position: center;
    }

    #login-container2 {
        width: 100vw;
        height: 100vh;
        min-width: 0;
        background-color: rgba(255, 255, 255, 0.7);
    }

    #login-container2 #login-img {
        display: none;
    }

    #forms #login-register {
        top: 200px;
    }
}


/*----------------------REGISTER PAGE----------------------*/
#register-form {
    display: none;
    margin-top: 70px;
}

#info {
    display: flex;
    flex-direction: column;
}

#info .infobox {
    width: 100%;
    flex-wrap: wrap;
}

#info input {
    background-color: transparent;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    outline: none;
    font: 15px;
    height: 30px;
    font-size: 17px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#confirmation-btn input {
    outline: none;
}

#submit_btn button {
    color: white;
}

#submit_btn p {
    text-align: center;
}

#submit_btn p a {
    color: #FC5D6D;
}


/*----------------------HOME PAGE----------------------*/
/* #homepage-body{
    overflow-x: hidden;
} */
#homepage-header {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
    width: 100vw;
    height: 70px;
    position: fixed;
    z-index: 999;
}

#header-container {
    width: 100vw;
    padding: 0 2.5vw;
    height: 70px;
    position: relative;
}

@media (max-width: 600px) {
    #header-container {
        justify-content: space-between;
    }
}

#menu {
    display: none;
}

#slider-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}

#slider {
    height: 100vh;
    width: 250px;
    background-color: #F2E3D5;
    position: absolute;
    left: -250px;
    top: 0;
    padding: 20px 10px;
    transition: all 0.3s;
}

#logo {
    height: 70px;
}

#logo a {
    background-color: black;
    width: 100px;
    height: 30px;
}

#logo a img {
    height: 100%;
    width: 100%;
}

#wearOptions-container {
    width: 40%;
    height: 100%;
    display: flex;
}

#wearOptions-container ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-weight: 700;
    width: 100%;
}

#wearOptions-container li {
    height: 100%;
    width: 25%;
    font-weight: 800;
    display: flex;
    align-items: center;
    position: relative;
}

#wearOptions-container li a::after {
    content: "";
    position: absolute;
    background-color: #016772;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 0px;
    transition: 0.2s ease-in-out;
}

@media(hover:hover) {
    #wearOptions-container li a:hover::after {
        width: 100%;
    }
}

#wearOptions-container ul li a {
    color: black;
    font-size: 0.8em;
    padding: 0 10px;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#wearOptions-container ul li .wearOptions-subcontainer {
    border: 1px solid rgb(233, 233, 233);
    background-color: white;
    display: none;
    top: 70px;
    left: -80px;
    width: 1000px;
    height: 400px;
    padding: 20px;
}

#wearOptions-container ul li .wearOptions-subcontainer ul li {
    width: 100%;
}

#wearOptions-container ul li .wearOptions-subcontainer li a {
    justify-content: left;
}

.wearOptions-subcontainer .subcontainer-box {
    width: 210px;
    height: 100%;
    padding: 5px;
}

.subcontainer-box hr {
    margin: 20px 0;
    border-color: rgba(230, 230, 230, 0.349);
}

#wearOptions-container ul li:hover .wearOptions-subcontainer {
    display: flex;
    position: absolute;
    box-shadow: inset 0 5px 5px -5px rgba(100, 100, 111, 0.2);
}

#wearOptions-container ul li:hover .wearOptions-subcontainer ul {
    display: block;
}

#wearOptions-container ul li:hover .wearOptions-subcontainer ul li {
    margin: 15px 20px 10px 5px;
    font-size: 18px;
    font-weight: 100;
    border: none;
}

#wearOptions-container ul li:hover .wearOptions-subcontainer ul li a::after {
    display: none;
}

.wearOptions-subcontainer ul li a:hover {
    font-weight: 600;
}

@media (max-width: 1200px) {
    #wearOptions-container {
        display: none;
    }
}

#popup-searchbar-container {
    background-color: white;
    width: 100vw;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 5vw;
    display: none;
    opacity: 0;
    transition: all 1s;
    z-index: 1;
}

#popup {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#popup-searchbar-container i {
    margin-right: 30px;
}

#popup-searchbar-container input {
    padding: 0 10px;
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
}

#searchbar {
    width: 100%;
    margin: 0 20px;
    height: 35px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#searchbar input {
    height: 100%;
    width: 100%;
    font-weight: bold;
    outline: none;
    border: none;
    padding-left: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#searchbar i {
    background-color: #3CA6A6;
    height: 100%;
    width: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    display: flex;
    font-weight: bold;
}

@media(max-width:600px) {
    #searchbar {
        display: none;
    }
}

#profile-wishlist-bag {
    height: 100%;
}

#search-icon,
#profile,
#wishlist,
#bag {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

#profile-wishlist-bag a {
    text-decoration: none;
    color: black;
}

#profile-wishlist-bag p {
    font-size: 12px;
}

#profile-wishlist-bag #search-icon {
    display: none;
}

@media(max-width:1200px) {
    #menu {
        display: block;
        font-size: 25px;
        margin-right: 20px;
    }

    #profile-wishlist-bag p {
        display: none;
    }

    #profile-wishlist-bag i {
        font-size: 25px;
    }
}

@media(max-width: 600px) {
    #profile-wishlist-bag #search-icon {
        display: flex;
    }

    #profile {
        display: none;
    }
}

#profile:hover #profile-hover {
    display: flex;
}

#profile-hover {
    height: 120px;
    width: 180px;
    position: absolute;
    background-color: #F2E3D5;
    top: 70px;
    left: -80px;
    padding: 10px;
    flex-direction: column;
    align-items: start;
    display: none;
}

#profile-hover h4 {
    font-size: 17px;
}

#profile-hover h6 {
    font-size: 12px;
    text-align: left;
    margin-bottom: 5px;
}

#profile-hover button {
    padding: 8px 5px;
    background-color: transparent;
    border: 3px solid #3CA6A6;
    color: #3CA6A6;
    font-weight: bold;
}

#profile-hover button:hover {
    border-color: #016772;
}

#wishlist:hover #wishlist-container{
    display: flex;
}
#wishlist-container {
    background-color: #F2E3D5;
    width: 250px;
    height: 400px;
    position: absolute;
    top: 70px;
    left: -150px;
    padding: 10px 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    display: none;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset; */
}
#wishlist-container .PC-box2{
    
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px;
    width: 96%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0 0 5px 0;
}
.add_to_container .PC-box2 a{
    display: flex;
    height: 100%;
    width: 100%;
}
#wishlist-container .PC-box2 .PC-img{
    height: 100%;
    width: 70px;
    /* border: 1px solid black; */
    border-radius: 50%;
}
#wishlist-container .PC-box2 .PC-img img{
    border-radius: 50%;
}
.add_to_container .PC-box2 .PC-wishlistoption{
    display: none;
}
.add_to_container .PC-box2 .PC-about{
    /* font-size: 100px; */
    /* border: 1px solid black; */
    /* height: 100%;
    line-height: 5px; */
    width: 100%;
    text-align: left;
    padding-left: 10px;
}
#wishlist-container .PC-about b, #wishlist-container .PC-about p{
    font-size: 10px;
}

#bag:hover #bag-container{
    display: flex;
}
#bag-container{
    background-color: #F2E3D5;
    width: 350px;
    height: 500px;
    position: absolute;
    top: 70px;
    left: -350px;
    padding: 10px 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    display: none;
}
#dsds {
    display: none;
}
#bag-container .PC-box2{
    
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px;
    width: 96%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0 0 5px 0;
}
#bag-container .PC-box2 .PC-img{
    height: 100%;
    width: 100px;
    /* border: 1px solid black; */
    /* border-radius: 50%; */
}
/* #bag-container .PC-box2 .PC-img img{
    border-radius: 50%;
} */

/*** Main ***/
#main-container {
    width: 100vw;
}

.sale-banner {
    width: 95vw;
    padding-top: 90px;
    margin: auto;
    margin-bottom: 50px;
}

.sale-banner img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
}

#img1 {
    height: 30vh;
}

.sale-banner4 {
    padding-top: 100px;
}

.sale-banner4 img {
    width: 95%;
    margin: 0 2.5%;
}

@media (max-width: 600px) {
    .sale-banner4 {
        padding-top: 30px;
    }

    #img1 {
        height: 19vh;
    }
}

/* Category special */
#category-specials {
    width: 95vw;
    margin: auto;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px 0;
    /* border: 1px solid black; */
    /* position: relative; */
}

.cs-products-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    /* border: 2px solid rgb(32, 32, 35); */
    height: 350px;
    transition: 2s;
}

.cs-products-container a {
    width: 20%;
    position: absolute;
    transition: 2s;
}

@media (max-width: 1350px) {
    .cs-products-container a {
        width: 25%;
    }
}

@media (max-width: 800px) {
    .cs-products-container a {
        width: 33.33%;
    }
}

@media (max-width: 600px) {
    .cs-products-container a {
        width: 50%;
    }
}

/* .cs-products-container a .productbox{
    
} */
#cs-btn-right {
    position: absolute;
    right: 0px;
    height: 100%;
    cursor: pointer;
    width: 20px;
}

#cs-btn-left {
    position: absolute;
    /* bottom: 0px; */
    height: 100%;
    left: 0px;
    width: 20px;
    cursor: pointer;
}

/* New Arrivals */
#new-arrival {
    width: 95vw;
    margin: auto;
    padding: 20px 0;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.div-name {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    line-height: 30px;
}

@media(max-width:600px) {
    #new-arrival {
        font-size: 0.8em;
    }

}

.products {
    padding: 0 5%;
    flex-wrap: wrap;
}

.products a {
    text-decoration: none;
}

.productbox {
    width: 250px;
    max-width: 100%;
    margin: 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .products {
        width: 100%;
        padding: 0;
    }

    .products a {
        width: 50%;
    }

    .productbox {
        margin: 5px;
        padding: 0;
        width: 95%;
        border-radius: 7px;
    }
}

.productimg {
    height: 250px;
}

.productimg img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.productname {
    font-size: 17px;
}

.aboutproduct {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    color: black;
}

.aboutproduct b {
    color: rgb(202, 85, 85);
    font-size: 20px;
}

@media(max-width:600px) {
    .aboutproduct {
        height: 60px;
    }

    .productname {
        font-size: 14px;
    }

    .aboutproduct b {
        font-size: 20px;
    }
}

@media(max-width: 450px) {
    .productimg {
        height: 200px;
    }
}



.HO-bannersCollection {
    width: 100vw;
    padding: 100px 2.5% 0 2.5%;
}

@media(max-width:600px) {
    .HO-bannersCollection {
        padding: 50px 2.5% 0 2.5%;
    }
}

.first-bannerCollection {
    display: flex;
    justify-content: center;
}

.second-bannerCollection {
    display: flex;
}

.banners img {
    width: 96%;
    margin: 2%;
    height: 96%;
}

.banners img:hover {
    cursor: pointer;
}

.banners {
    position: relative;
}

.banners-btn {
    position: absolute;
    background-color: transparent;
    color: white;
    z-index: 1;
    left: 100px;
    bottom: 150px;
    width: 15%;
    height: 6%;
    border: 2px solid white;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8em;
}

@media (max-width: 1000px) {
    .banners-btn {
        font-size: 0.5em;
    }
}

@media (max-width: 500px) {
    .banners-btn {
        font-size: 5px;
    }
}

#banner1-btn {
    left: 42%;
    bottom: 26%;
}

#banner2-btn {
    left: 70%;
    bottom: 14%;
    width: 23%;
    height: 7%;
}

#banner3-btn {
    left: 39%;
    bottom: 12%;
    background-color: black;
    border: none;
    width: 22%;
}

#banner4-btn {
    left: 62%;
    bottom: 18%;
    background-color: black;
    border: none;
    width: 27%;
    height: 10%;
}

#banner5-btn {
    left: 31%;
    bottom: 50%;
    background-color: black;
    border: none;
    width: 38%;
    height: 10%;
}

.banners-btn:hover,
#banner3-btn:hover,
#banner4-btn:hover,
#banner5-btn:hover {
    background-color: rgb(191, 237, 123);
}

#banner1 img:hover+#banner1-btn,
#banner2 img:hover+#banner2-btn,
#banner3 img:hover+#banner3-btn,
#banner4 img:hover+#banner4-btn,
#banner5 img:hover+#banner5-btn {
    background-color: rgb(191, 237, 123);
}

/* FOOTER */

.copyright {
    background-color: #37475A;
    height: 50px;
    margin-top: 20px;
    color: rgb(249, 124, 124);
    font-size: 20px;
    width: 100vw;
}

.homepage-footer {
    width: 100vw;
    background-color: #232F3E;
    flex-direction: column;
}

.homepage-footer h4 {
    font-size: 22px;
    color: white;
    line-height: 60px;
}

.box1 {
    flex-wrap: wrap;
    background-color: #232F3E;
}

.box1 h4 {
    text-align: center;
}

.box1 .icons {
    width: 300px;
}

.icons a i {
    font-size: 30px;
}

.footerBoxes a {
    text-decoration: none;
    color: White;
    line-height: 2;
}

.box2 {
    /* border: 1px solid wheat; */
    margin: 30px 0;
    width: 100%;
    max-width: 700px;
}

.box2 .footerBoxes {
    font-size: 0.8em;
}


/* ---------------- PRODUCTS COLLECTION -------------- */
.PC-header-padding {
    height: 60px;
    margin-bottom: 10px;
}
#wishlist-drag-container{
    height: 100vh;
    width: 150px;
    background: linear-gradient(90deg, blue, white);
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    display: none;
    opacity: 0.3;
}
#bag-drag-container{
    height: 100vh;
    width: 150px;
    background: linear-gradient(90deg, white, blue);
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
    opacity: 0.3;
}
.PC-box1 {
    width: 90vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.PC-box1 a {
    text-decoration: none;
    color: black;
}

.PC-box2 {
    height: 345px;
    width: 218px;
    margin: 0 5px 20px 5px;
    min-width: 218px;
    position: relative;
}
.PC-box2 .PC-img {
    height: 280px;
    margin-bottom: 7px;
}
.PC-box2 .PC-img img {
    height: 100%;
    width: 100%;
}

/* .PC-box2 i
{
    position: absolute;
    font-weight: 500;
    font-size: 20px;
    bottom: 10px;
    left: 55px;
} */
.PC-box1 .PC-wishlistoption {
    text-align: center;
    /* padding: 5px; */
    position: absolute;
    bottom: 65px;
    width: 100%;
    background-color: white;
    visibility: hidden;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.PC-box2 .PC-wishlistoption button {
    width: 96%;
    height: 40px;
    margin: 2%;
    background-color: white;
    border: 2px solid rgb(207, 205, 205);
    cursor: pointer;
}

.PC-box2 .PC-wishlistoption button i {
    font-size: 22px;
    margin-right: 5px;
}

.PC-box2 .PC-wishlistoption button div {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

@media(hover: hover) {
    .PC-box2:hover {
        
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .PC-box2:hover .PC-wishlistoption{
            visibility: visible;
    }

    .PC-box2 .PC-wishlistoption button:hover {
        border: 2px solid black;
    }
}

@media (max-width: 1025px) {
    .PC-box2 .PC-wishlistoption div {
        display: none;
    }

    .PC-box2:hover {
        .PC-wishlistoption {
            visibility: hidden;
        }
    }

    .PC-box2 .PC-wishlistoption i {
        position: absolute;
        visibility: visible;
        font-size: 18px;
        bottom: -30px;
        right: 3px;
        cursor: pointer;
    }
}

.PC-box2 .PC-about {
    padding-left: 4px;
    font-size: 11px;
    cursor: pointer;
    line-height: 17px;
}

.PC-box2 .PC-about b {
    font-weight: 100;
    font-size: 14px;
}

@media (max-width: 600px) {
    .PC-box1 {
        width: 100vw;
        margin: 0;
    }

    .PC-box2 {
        height: 330px;
        margin: 0px 0px 0px 0px;
        border-right: 1px solid grey;
    }

    .PC-box2 .PC-img {
        height: 230px;
    }

    .PC-box2 .PC-img img {
        height: 100%;
    }
    .PC-box2 .PC-wishlistoption i {
        bottom: 0px;
    }

    .PC-box2 .PC-about {
        font-size: 10px;
    }
}

@media (max-width: 450px) {
    .PC-box2 {
        width: 50vw;
        min-width: 0;
    }
}

/*----------------- WISHLIST COLLECTION ---------------*/

#WC-container {
    padding: 0 5vw;
}
